body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    
    height: 80vh;
    width: 55vw;
}

.divColumn {
    display: flex;
    justify-content: center;
    
    height: 100%;
}

.divRow {
    border: solid 1px black;
    width: 100%;
}

#gridSize {
    width: 30vw;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.sliderText {
    background-color: lightblue;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    border: solid 1px gray;
}

li {
    list-style: none;
}

#blackBtn {
    background-color: black;
    color: white;
}
#whiteBtn {
    background-color: white;
    color: black;
}
#randomBtn {
    background-color: blue;
    color: pink;
}
button {
    width: 80px;
}